body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #2e2e2e;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    color: #ff4d4d;
    font-size: 2rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

#initialPrompt {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#initialPrompt .dear {
    margin-right: 10px;
    line-height: 22px;
    padding-bottom: 20px;
}

#note {
    display: block;
    width: 100%;
    text-align: center;
    color: #888;
}

#typingPromptContainer {
    font-size: 18px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#typingPrompt {
    background-color: #3e3e3e;
    padding: 10px;
    border-radius: 5px;
    color: #888;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.correct {
    color: #00ff00;
}

.incorrect {
    color: #ff4d4d;
}

#nameInput, #typingArea {
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    border: 0px solid #ff4d4d;
    border-radius: 5px;
    font-size: 16px;
    color: #f0f0f0;
    background-color: #3e3e3e;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;
}

#nameInput {
    margin-right: 5px;
    font-size: 22px;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    min-width: 4ch;
}

#textWidth {
    visibility: hidden;
    position: absolute;
    white-space: pre;
    font-size: 22px;
}

#typingArea {
    display: none;  /* Hide the text area initially */
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    border: 0px solid #ff4d4d;
    border-radius: 5px;
    font-size: 16px;
    color: #f0f0f0;
    background-color: #3e3e3e;
    margin-bottom: 20px;
    outline: none;
    box-sizing: border-box;
}


#nameInput::placeholder, #typingArea::placeholder {
    color: #888;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ff4d4d;
}

.styled-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #e63e3e;
}


#shareButton, #buttonContainer button, .styled-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#shareButton:hover, #buttonContainer button:hover, .styled-button:hover {
    background-color: #e63e3e;
}


#buttonContainer {
    display: none;
    margin-top: 20px;
}

#buttonContainer button {
    margin-right: 10px;
}

footer {
    background-color: #2e2e2e;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    margin-top: auto;
}

footer p {
    margin: 0;
    color: #888;
    font-size: 0.9rem;
}
